name: elis_chat
description: "App ELiS Chat com Supabase"
publish_to: 'none'
version: 1.0.0+1

environment:
  sdk: '>=3.0.0 <4.0.0'

dependencies:
  flutter:
    sdk: flutter
  cupertino_icons: ^1.0.8
  supabase_flutter: ^2.6.0  # O motor que substituirá o Firebase

dev_dependencies:
  flutter_test:
    sdk: flutter

flutter:
  uses-material-design: true
  # Quando você baixar as fontes ELiS no seu PC, vamos configurar a pasta assets aqui
